<div class="modal-dialog main-color">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" style="margin-left: auto; margin-right: auto">
          Agregar Email
        </h2>
      </div>
      <div class="modal-body" style="width: 100%">
        <div class="card mb-4 auto-margin width-90 back-grey margin-top">
          <div class="card-body padding-0">
            <div class="form-group m-3">
              <label for="emailType" class="font-weight-bold"
                >Tipo de Email:</label
              >
              <select
                class="form-control"
                name="emailType"
                [(ngModel)]="emailType"
                required
              >
                <option
                  *ngFor="let type of emailTypes"
                  [value]="type.id.toString()"
                >
                  {{ type.name }}
                </option>
              </select>
            </div>
            <div class="form-group m-3">
              <label for="emailValue" class="font-weight-bold"
                >Número de Email:</label
              >
              <input
                type="text"
                class="form-control"
                placeholder="Ingresar Email.."
                name="emailValue"
                required
                [(ngModel)]="emailValue"
              />
              <input type="hidden" name="emailId" [(ngModel)]="emailId" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="button-style-close button-l rounded">
          Cerrar
        </button>
        <button
          type="button"
          class="button-style-add button-l rounded"
          (click)="saveEmail()"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>
  