<div class="container">
  <div class="row margin-top">
    <div class="col-12 padding-index">
      <div class="row justify-content-center">
        <div class="col-6 offset-3">
          <button
            type="button"
            class="button-style-add rounded"
            (click)="openProvinceForm()"
            title="Agregar Registro"
          >
            Agregar Provincia
            <img
              src="../../../assets/images/anadir.png"
              alt="Agregar Registro"
            />
          </button>
          <app-province-list class="text-center"></app-province-list>
        </div>
      </div>
    </div>
  </div>
</div>
