<div class="container">
    <div class="row margin-top">
      <div class="col-12 padding-index">
        <div class="row justify-content-center">
          <div class="col-6 offset-3">
            <button
              type="button"
              class="button-style-add rounded"
              (click)="openSpecialtyForm()"
              title="Agregar Registro"
            >
              Agregar Especialidad
              <img
                src="../../../assets/images/anadir.png"
                alt="Agregar Registro"
              />
            </button>
            <app-specialty-list class="text-center"></app-specialty-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  