<div class="container">
  <div class="row margin-top">
    <div class="col-sm-6">
      <div class="card mb-4 auto-margin width-90 back-grey">
        <div class="card-header">Datos Personales</div>
        <div class="card-body">
          <div class="form-group row align-items-center">
            <div class="col-md-6">
              <label for="firstName" class="font-weight-bold">Nombre/s: </label>
              <input
                type="text"
                class="form-control"
                placeholder="Ingresar Nombre.."
                [(ngModel)]="firstName"
                name="firstName"
                required
                [value]="patientData?.data?.firstName"
              />
              <input
                type="hidden"
                class="form-control"
                name="id"
                required
                [value]="patientData?.data?.id"
              />
            </div>
            <div class="col-md-6">
              <label for="lastName" class="font-weight-bold"
                >Apellido/s:
              </label>
              <input
                type="text"
                class="form-control margin-top"
                placeholder="Ingresar Apellido.."
                [(ngModel)]="lastName"
                name="lastName"
                required
                [value]="patientData.data?.lastName"
              />
            </div>
          </div>

          <div class="form-group row align-items-center">
            <div class="col-md-6">
              <label for="gender" class="font-weight-bold">Género: </label>
              <select
                class="form-control"
                name="gender"
                [(ngModel)]="gender"
                required
              >
                <option
                  *ngFor="let gender of genders"
                  [value]="gender.id.toString()"
                >
                  {{ gender.name }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="province" class="font-weight-bold"
                >Fecha Nacimiento:</label
              >
              <input
                type="date"
                class="form-control"
                name="birthDate"
                id="birthDate"
              />
            </div>
          </div>

          <div class="form-group row align-items-start">
            <div class="col-md-6">
              <label for="street">Edad</label>
              <input
                type="text"
                class="form-control"
                id="street"
                name="street"
              />
            </div>
            <div class="col-md-6 d-flex align-items-center">
              <label for="smoker" class="mr-2">Fumador</label>
              <div class="form-check mr-2">
                <input
                  type="radio"
                  class="form-check-input"
                  id="smoker-yes"
                  name="smoker"
                  value="yes"
                  [checked]="smoker"
                  (click)="onSmokerClick(true)"
                />
                <label class="form-check-label" for="smoker-yes">Sí</label>
              </div>
              <div class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  id="smoker-no"
                  name="smoker"
                  value="no"
                  [checked]="!smoker"
                  (click)="onSmokerClick(false)"
                />
                <label class="form-check-label" for="smoker-no">No</label>
              </div>
            </div>

            <div class="form-group row align-items-center">
              <div class="col-md-6">
                <label for="occupation" class="font-weight-bold"
                  >Ocupación:
                </label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ingresar Nombre.."
                  [(ngModel)]="occupation"
                  name="occupation"
                  required
                  [value]="patientData?.data?.occupation"
                />
              </div>
              <div class="col-md-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <div class="row">
        <div class="col-sm-6">
          <div class="card mb-4 auto-margin width-90 back-grey">
            <div class="card-header">Ultima Consulta</div>
            <div class="card-body">
              <ul>
                <li>Fecha</li>
                <li>Estado</li>
                <li>Estado de Pago</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mb-4 auto-margin width-90 back-grey">
            <div class="card-header">Próxima Consulta</div>
            <div class="card-body">
              <ul>
                <li>Fecha</li>
                <li>Lugar</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <div class="card mb-4 auto-margin width-90 back-grey">
        <div class="card-header">Dirección</div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-4">
              <label for="street">Calle:</label>
              <input
                type="text"
                class="form-control"
                id="street"
                name="street"
                [(ngModel)]="street"
              />
            </div>
            <div class="col-md-4">
              <label for="number">Número:</label>
              <input
                type="text"
                class="form-control"
                id="number"
                name="number"
                [(ngModel)]="number"
              />
            </div>
            <div class="col-md-4">
              <label for="section">Barrio:</label>
              <input
                type="text"
                class="form-control"
                id="section"
                name="section"
                [(ngModel)]="section"
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-4">
              <label for="floor">Piso:</label>
              <input type="text" class="form-control" id="floor" name="floor" />
            </div>
            <div class="col-md-4">
              <label for="apartment">Departamento:</label>
              <input
                type="text"
                class="form-control"
                id="apartment"
                name="apartment"
                [(ngModel)]="apartment"
              />
            </div>
            <div class="col-md-4">
              <label for="zip">Zip:</label>
              <input
                type="text"
                class="form-control"
                id="zip"
                name="zip"
                [(ngModel)]="zip"
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <label for="location" class="font-weight-bold">Localidad:</label>
              <select
                class="form-control"
                name="location"
                [(ngModel)]="location"
                required
              >
                <option
                  *ngFor="let location of locations"
                  [value]="location.id.toString()"
                >
                  {{ location.name }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="province" class="font-weight-bold">Provincia:</label>
              <select
                class="form-control"
                name="province"
                [(ngModel)]="province"
                required
              >
                <option
                  *ngFor="let province of provinces"
                  [value]="province.id.toString()"
                >
                  {{ province.name }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <div class="row">
        <div class="col-sm-12">
          <div class="card mb-4 auto-margin width-90 back-grey">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
                <span>Teléfonos</span>
                <button
                  type="button"
                  class="button-style-add rounded"
                  title="Agregar Registro"
                  (click)="openPhoneFormDialog()"
                >
                  Agregar Teléfono
                  <img
                    src="../../../assets/images/anadir.png"
                    alt="Agregar Registro"
                  />
                </button>
              </div>
            </div>
            <div class="card-body padding-0">
              <table
                class="table table-bordered table-striped table-hover table-responsive text-center rounded"
              >
                <thead class="table-secondary">
                  <tr>
                    <th>Número</th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let phone of phoneList">
                    <td>{{ phone.number }}</td>
                    <td>{{ phone.type.name }}</td>
                    <td class="text-center">
                      <button
                        type="button"
                        class="button-style"
                        title="Editar"
                        (click)="handleEditPhone(phone.id, phone.number)"
                      >
                        <img
                          src="../../../assets/images/editar.png"
                          alt="Editar"
                        />
                      </button>
                      <button
                        type="button"
                        class="button-style"
                        title="Eliminar"
                        (click)="handleDeletePhone(phone.id, phone.number)"
                      >
                        <img
                          src="../../../assets/images/eliminar.png"
                          alt="Eliminar"
                        />
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card mb-4 auto-margin width-90 back-grey">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
                <span>Emails</span>
                <button
                  type="button"
                  class="button-style-add rounded"
                  title="Agregar Registro"
                  (click)="openEmailFormDialog()"
                >
                  Agregar Email
                  <img
                    src="../../../assets/images/anadir.png"
                    alt="Agregar Registro"
                  />
                </button>
              </div>
            </div>
            <div class="card-body padding-0">
              <table
                class="table table-bordered table-striped table-hover table-responsive text-center rounded"
              >
                <thead class="table-secondary">
                  <tr>
                    <th>Email</th>
                    <th>Tipo</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let email of emailList">
                    <td>{{ email.value }}</td>
                    <td>{{ email.type.name }}</td>
                    <td class="text-center">
                      <button
                        type="button"
                        class="button-style"
                        title="Editar"
                        (click)="handleEditEmail(email.id, email.value)"
                      >
                        <img
                          src="../../../assets/images/editar.png"
                          alt="Editar"
                        />
                      </button>
                      <button
                        type="button"
                        class="button-style"
                        title="Eliminar"
                        (click)="handleDeleteEmail(email.id, email.value)"
                      >
                        <img
                          src="../../../assets/images/eliminar.png"
                          alt="Eliminar"
                        />
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center">
      <div class="card mb-4 auto-margin width-90 back-grey">
        <div class="card-header">Motivo Primer Consulta</div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-md-12">
              <textarea
                class="form-control"
                id="medicalHistory"
                name="medicalHistory"
                rows="10"
                [(ngModel)]="medicalHistory"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 text-center">
      <div class="card mb-4 auto-margin width-90 back-grey">
        <div class="card-header">
          Obras Sociales, Identificaciones, Contactos Emergencia
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="card mb-4 auto-margin width-90 back-grey">
              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <span>Identificaciones</span>
                  <button
                    type="button"
                    class="button-style-add rounded"
                    title="Agregar Registro"
                    (click)="openIdentificationFormDialog()"
                  >
                    Agregar Identificacion
                    <img
                      src="../../../assets/images/anadir.png"
                      alt="Agregar Registro"
                    />
                  </button>
                </div>
              </div>
              <div class="card-body padding-0">
                <table
                  class="table table-bordered table-striped table-hover table-responsive text-center rounded"
                >
                  <thead class="table-secondary">
                    <tr>
                      <th>Identificacion</th>
                      <th>Tipo</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let identification of identificationList">
                      <td>{{ identification.number }}</td>
                      <td>{{ identification.type.name }}</td>
                      <td class="text-center">
                        <button
                          type="button"
                          class="button-style"
                          title="Editar"
                          (click)="
                            handleEditIdentification(
                              identification.id,
                              identification.number
                            )
                          "
                        >
                          <img
                            src="../../../assets/images/editar.png"
                            alt="Editar"
                          />
                        </button>
                        <button
                          type="button"
                          class="button-style"
                          title="Eliminar"
                          (click)="
                            handleDeleteIdentification(
                              identification.id,
                              identification.number
                            )
                          "
                        >
                          <img
                            src="../../../assets/images/eliminar.png"
                            alt="Eliminar"
                          />
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="card mb-4 auto-margin width-90 back-grey">
              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <span>Contactos de Emergencia</span>
                  <button
                    type="button"
                    class="button-style-add rounded"
                    title="Agregar Registro"
                    (click)="openEmergencyContactFormDialog()"
                  >
                    Agregar Contacto de Emergencia
                    <img
                      src="../../../assets/images/anadir.png"
                      alt="Agregar Registro"
                    />
                  </button>
                </div>
              </div>
              <div class="card-body padding-0">
                <table
                  class="table table-bordered table-striped table-hover table-responsive text-center rounded"
                >
                  <thead class="table-secondary">
                    <tr>
                      <th>Nombre</th>
                      <th>Teléfono</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let emergencyContact of emergencyContactsList">
                      <td>{{ emergencyContact.name }}</td>
                      <td>{{ emergencyContact.phoneNumber }}</td>
                      <td class="text-center">
                        <button
                          type="button"
                          class="button-style"
                          title="Editar"
                          (click)="
                            handleEditEmergencyContact(
                              emergencyContact.id,
                              emergencyContact.name,
                              emergencyContact.phoneNumber
                            )
                          "
                        >
                          <img
                            src="../../../assets/images/editar.png"
                            alt="Editar"
                          />
                        </button>
                        <button
                          type="button"
                          class="button-style"
                          title="Eliminar"
                          (click)="
                            handleDeleteEmergencyContact(
                              emergencyContact.id,
                              emergencyContact.name
                            )
                          "
                        >
                          <img
                            src="../../../assets/images/eliminar.png"
                            alt="Eliminar"
                          />
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="card mb-4 auto-margin width-90 back-grey">
              <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                  <span>Obra Social</span>
                  <button
                    type="button"
                    class="button-style-add rounded"
                    title="Agregar Registro"
                    (click)="openPlanFormDialog()"
                  >
                    Agregar Obra Social
                    <img
                      src="../../../assets/images/anadir.png"
                      alt="Agregar Registro"
                    />
                  </button>
                </div>
              </div>
              <div class="card-body padding-0">
                <table
                  class="table table-bordered table-striped table-hover table-responsive text-center rounded"
                >
                  <thead class="table-secondary">
                    <tr>
                      <th>Obra Social</th>
                      <th>Plan</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let planSocialWork of planSocialWorksList">
                      <td>{{ planSocialWork.socialWork.name }}</td>
                      <td>{{ planSocialWork.name }}</td>
                      <td class="text-center">
                        <button
                          type="button"
                          class="button-style"
                          title="Editar"
                          (click)="
                            handleEditPlanSocialWork(planSocialWork.code)
                          "
                        >
                          <img
                            src="../../../assets/images/editar.png"
                            alt="Editar"
                          />
                        </button>
                        <button
                          type="button"
                          class="button-style"
                          title="Eliminar"
                          (click)="
                            handleDeletePlanSocialWork(planSocialWork.code)
                          "
                        >
                          <img
                            src="../../../assets/images/eliminar.png"
                            alt="Eliminar"
                          />
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button
      type="button"
      class="button-style-return button-l rounded margin-top"
      (click)="handleReturn()"
    >
      Volver
    </button>
    <button
      type="button"
      class="button-style-add button-l rounded margin-top"
      (click)="handleSubmit()"
    >
      Guardar
    </button>
  </div>
</div>
