<div class="modal-dialog main-color">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title" style="margin-left: auto; margin-right: auto">
        Agregar Teléfono
      </h2>
    </div>
    <div class="modal-body" style="width: 100%">
      <div class="card mb-4 auto-margin width-90 back-grey margin-top">
        <div class="card-body padding-0">
          <div class="form-group m-3">
            <label for="phoneType" class="font-weight-bold"
              >Tipo de Teléfono:</label
            >
            <select
              class="form-control"
              name="phoneType"
              [(ngModel)]="phoneType"
              required
            >
              <option
                *ngFor="let type of phoneTypes"
                [value]="type.id.toString()"
              >
                {{ type.name }}
              </option>
            </select>
          </div>
          <div class="form-group m-3">
            <label for="phoneNumber" class="font-weight-bold"
              >Número de Teléfono:</label
            >
            <input
              type="text"
              class="form-control"
              placeholder="Ingresar Teléfono.."
              name="phoneNumber"
              required
              [(ngModel)]="phoneNumber"
            />
            <input type="hidden" name="phoneId" [(ngModel)]="phoneId" />
          </div>         
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button
        type="button"
        class="button-style-close button-l rounded"
      >
        Cerrar
      </button>
      <button
        type="button"
        class="button-style-add button-l rounded"
        (click)="savePhone()"
      >
        Agregar
      </button>
    </div>
  </div>
</div>
