<div class="container">
    <div class="row margin-top">
      <div class="col-2"></div>
      <div class="col-8 padding-index">
        <div class="row">
            <div class="container mt-4">
                <div class="row">
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">Personas</h5>
                      </div>
                      <div class="card-body">
                        <ul class="list-unstyled">
                          <li><a href="/province">Provincias</a></li>
                          <li><a href="/location">Localidades</a></li>
                          <li><a href="/identificationType">Tipo de Identificación</a></li>
                          <li><a href="/emailType">Tipo de Email</a></li>
                          <li><a href="/phoneType">Tipo de Teléfono</a></li>
                          <li><a href="/specialty">Especialidad Médica</a></li>
                          <li><a href="/gender">Genero</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-header bg-success text-white">
                        <h5 class="mb-0">Pagos</h5>
                      </div>
                      <div class="card-body">
                        <ul class="list-unstyled">
                          <li><a href="/payoutStatus">Estado de Pago</a></li>
                          <li><a href="#">Concepto de Pago</a></li>
                          <li><a href="#">Tipo de Pago</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
  